header {
    background-color: white;

    .location {
        display: flex;
        justify-content: center;
        background-color: #EAEAEA;
        padding: 15px 0px;
        position: relative;

        i {
            position: absolute;
        }
    }
}