header {
    background-color: white;
    .location {
        display: flex;
        justify-content: center;
        background-color: #EAEAEA;
        position: relative;
        padding: 15px 0px;

        i {
            position: absolute;
            left: 17px;
        }
    }
}