header {
    background-color: white;

    .location {
        display: flex;
        justify-content: center;
        background-color: #EAEAEA;
        padding: 15px 0px;

        i {
            position: relative;
            right:20px;
        }
    }
}