nav {
    display: flex;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
    position: relative;
    align-items: center;
    padding: 24px;

    i {
        font-size: 24px;
    }

    a:visited i {
        color:#000;
    }

    img {
        width: auto;
        margin: auto;
        height: 44px;
    }
}