*,
*::after,
*::before {
  margin: 0;
  padding: 0;
}

body {
  background-color: #F7F7F7;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
}

h1 {
  font-size: 24px;
  font-weight: 700;
}
@media screen and (min-width: 767px) {
  h1 {
    font-size: 40px;
  }
}

h2 {
  font-size: 24px;
  font-weight: 700;
}

h3 {
  font-size: 18px;
  font-weight: 700;
  line-height: 2;
}

header {
  background-color: white;
}
header .location {
  display: flex;
  justify-content: center;
  background-color: #EAEAEA;
  padding: 15px 0px;
}
header .location i {
  position: relative;
  right: 20px;
}

nav {
  display: flex;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
  padding-top: 20px;
  padding-bottom: 20px;
  position: relative;
  padding-top: 15px;
  padding-bottom: 15px;
}
nav img {
  height: 54px;
  width: auto;
  margin: auto;
  height: 44px;
}

.footer {
  display: flex;
  flex-direction: column;
  background-color: #353535;
  padding: 25px 25px 35px 25px;
}
@media screen and (min-width: 767px) {
  .footer {
    flex-direction: row-reverse;
    padding: 60px 0px 30px 0;
    padding-top: 70px;
  }
}
.footer img {
  height: auto;
  width: 135px;
  filter: invert(1);
  margin-bottom: 12px;
}
@media screen and (min-width: 767px) {
  .footer img {
    height: 20px;
    width: auto;
    margin: 0 80px 0 80px;
  }
}
.footer i {
  margin-right: 12px;
}
.footer a {
  color: #FFFFFF;
  text-decoration: none;
}
.footer__links {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
@media screen and (min-width: 767px) {
  .footer__links {
    flex-direction: row-reverse;
    align-items: center;
    gap: 50px;
  }
}
.footer__links__1 {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
@media screen and (min-width: 767px) {
  .footer__links__1 {
    flex-direction: row-reverse;
    order: 3;
  }
}
.footer__links__2 {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
@media screen and (min-width: 767px) {
  .footer__links__2 {
    flex-direction: row-reverse;
  }
}

.hero {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 40px 20px;
}
.hero h1 {
  text-align: center;
}
.hero p {
  text-align: center;
  line-height: 1.2;
  font-size: 18px;
  font-weight: 300;
  color: #353535;
}
.hero button {
  margin: auto;
  border-style: none;
}

.functioning__bg {
  background-color: white;
}

.functioning {
  max-width: 1045px;
  padding: 20px 20px 70px 20px;
}
@media screen and (min-width: 767px) {
  .functioning {
    display: flex;
    flex-direction: column;
    margin: auto;
  }
}
.functioning h2 {
  margin: 30px 0px 25px 0px;
}

.steps {
  display: flex;
  gap: 25px;
  margin-left: 12px;
  flex-direction: column;
}
@media screen and (min-width: 767px) {
  .steps {
    flex-direction: row;
    justify-content: center;
  }
}
.steps a {
  text-decoration: none;
  color: #000000;
}
@media screen and (min-width: 767px) {
  .steps a {
    flex-basis: 0;
    flex-grow: 1;
  }
}
.steps a:hover i {
  color: #9356DC;
}
.steps__card {
  display: flex;
  align-items: center;
  background-color: #F7F7F7;
  padding: 28px 38px;
  border-radius: 20px;
  position: relative;
}
.steps__card span {
  color: white;
  background-color: #9356DC;
  padding: 4px 8px;
  border-radius: 15px;
  position: absolute;
  left: -12px;
  font-size: 14px;
}
.steps__card i {
  margin-right: 20px;
  color: #7E7E7E;
  font-size: 18px;
}

.restaurants {
  gap: 20px;
  padding: 20px 20px 70px 20px;
  max-width: 1045px;
  margin: auto;
}
.restaurants h2 {
  margin: 30px 0 30px 0;
}
.restaurants__content {
  display: flex;
  flex-direction: column;
  gap: 18px 35px;
}
@media screen and (min-width: 767px) {
  .restaurants__content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(490px, 1fr));
  }
}
.restaurants__content a {
  text-decoration: none;
  color: #000000;
}
.restaurants__content__card {
  background-color: #FFF;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  width: auto;
  position: relative;
}
.restaurants__content__card img {
  width: 100%;
  height: 180px;
  border-radius: 15px 15px 0px 0px;
  object-fit: cover;
}
.restaurants__content__card span {
  position: absolute;
  right: 20px;
  top: 15px;
  padding: 8px 10px;
  background-color: #99E2D0;
  color: #008766;
  font-size: 14px;
  border-radius: 2px;
}
.restaurants__content__card__content {
  display: flex;
  padding: 5px 25px 15px 15px;
}
.restaurants__content__card__content--left {
  flex: 90%;
}
.restaurants__content__card__content--left p {
  font-size: 17px;
  font-weight: 300;
}
.restaurants__content__card__content--right {
  display: flex;
  flex: 10%;
  justify-content: flex-end;
  align-items: center;
  font-size: 24px;
}

button {
  padding: 13px 18px;
  border-radius: 25px;
  background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
  color: white;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  position: relative;
  z-index: 1;
}
button:hover::after {
  opacity: 1;
}
button::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.15)), linear-gradient(200.64deg, #9356DC -5.2%, #FF79DA 110.74%);
  opacity: 0;
  z-index: -1;
  transition: opacity 250ms;
  border-radius: 25px;
}

/*# sourceMappingURL=style.css.map */
