*,
*::after,
*::before {
  margin: 0;
  padding: 0;
}

body {
  background-color: #F7F7F7;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
}

h1 {
  font-size: 24px;
  font-weight: 700;
}
@media screen and (min-width: 767px) {
  h1 {
    font-size: 40px;
  }
}

h2 {
  font-size: 24px;
  font-weight: 700;
}

h3 {
  font-size: 18px;
  font-weight: 700;
  line-height: 2;
}

button {
  font-size: 16px;
}

h4 {
  font-family: "Shrikhand";
  font-size: 28px;
}

h5 {
  font-size: 16px;
  font-weight: 300;
  text-transform: uppercase;
  position: relative;
  margin-bottom: 13px;
}
h5::before {
  content: "";
  position: absolute;
  top: 25px;
  background-color: #99E2D0;
  width: 35px;
  height: 3px;
}

header {
  background-color: white;
}
header .location {
  display: flex;
  justify-content: center;
  background-color: #EAEAEA;
  padding: 15px 0px;
}
header .location i {
  position: relative;
  right: 20px;
}

nav {
  display: flex;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
  position: relative;
  align-items: center;
  padding: 24px;
}
nav i {
  font-size: 24px;
}
nav a:visited i {
  color: #000;
}
nav img {
  width: auto;
  margin: auto;
  height: 44px;
}

.footer {
  display: flex;
  flex-direction: column;
  background-color: #353535;
  padding: 25px 25px 35px 25px;
}
@media screen and (min-width: 767px) {
  .footer {
    flex-direction: row-reverse;
    padding: 60px 0px 30px 0;
    padding-top: 70px;
  }
}
.footer img {
  height: auto;
  width: 135px;
  filter: invert(1);
  margin-bottom: 12px;
}
@media screen and (min-width: 767px) {
  .footer img {
    height: 20px;
    width: auto;
    margin: 0 80px 0 100px;
  }
}
.footer i {
  margin-right: 12px;
}
.footer a {
  color: #FFFFFF;
  text-decoration: none;
}
.footer__links {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
@media screen and (min-width: 767px) {
  .footer__links {
    flex-direction: row-reverse;
    align-items: center;
    gap: 50px;
  }
}
.footer__links__1 {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
@media screen and (min-width: 767px) {
  .footer__links__1 {
    flex-direction: row-reverse;
    order: 3;
  }
}
.footer__links__2 {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
@media screen and (min-width: 767px) {
  .footer__links__2 {
    flex-direction: row;
  }
}

.hero {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 40px 20px;
}
.hero h1 {
  text-align: center;
}
.hero p {
  text-align: center;
  line-height: 1.2;
  font-size: 18px;
  font-weight: 300;
  color: #353535;
}

.functioning__bg {
  background-color: white;
}

.functioning {
  max-width: 1080px;
  padding: 20px 20px 70px 20px;
}
@media screen and (min-width: 767px) {
  .functioning {
    display: flex;
    flex-direction: column;
    margin: auto;
  }
}
.functioning h2 {
  margin: 30px 0px 25px 0px;
}

.steps {
  display: flex;
  gap: 25px;
  margin-left: 12px;
  flex-direction: column;
}
@media screen and (min-width: 767px) {
  .steps {
    flex-direction: row;
    justify-content: center;
  }
}
.steps a {
  text-decoration: none;
  color: #000000;
  flex-grow: 1;
}
.steps__card {
  display: flex;
  align-items: center;
  background-color: #F7F7F7;
  padding: 28px 38px;
  border-radius: 20px;
  position: relative;
}
.steps__card:hover {
  background-color: #e9ddf8;
}
.steps__card span {
  color: white;
  background-color: #9356DC;
  padding: 4px 8px;
  border-radius: 15px;
  position: absolute;
  left: -12px;
  font-size: 14px;
}
.steps__card i {
  margin-right: 20px;
  color: #7E7E7E;
  font-size: 18px;
}
.steps__card:hover i {
  color: #9356DC;
}

.restaurants {
  gap: 20px;
  padding: 20px 20px 70px 20px;
  max-width: 1080px;
  margin: auto;
}
.restaurants h2 {
  margin: 30px 0 30px 0;
}
.restaurants__content {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
@media screen and (min-width: 767px) {
  .restaurants__content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(490px, 1fr));
    gap: 50px 100px;
  }
}
.restaurants__content a {
  text-decoration: none;
  color: #000000;
}
.restaurants__content__card {
  background-color: #FFF;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  width: auto;
  position: relative;
}
.restaurants__content__card img {
  width: 100%;
  height: 180px;
  border-radius: 15px 15px 0px 0px;
  object-fit: cover;
}
.restaurants__content__card span {
  position: absolute;
  right: 20px;
  top: 15px;
  padding: 8px 10px;
  background-color: #99E2D0;
  color: #008766;
  font-size: 14px;
  border-radius: 2px;
}
.restaurants__content__card__content {
  display: flex;
  padding: 5px 25px 15px 15px;
}
.restaurants__content__card__content--left {
  flex: 90%;
}
.restaurants__content__card__content--left p {
  font-size: 17px;
  font-weight: 300;
}
.restaurants__content__card__content--right {
  display: flex;
  flex: 10%;
  justify-content: flex-end;
  align-items: center;
  font-size: 24px;
}
.restaurants__content__card__content--right .fa-regular {
  position: absolute;
  opacity: 1;
  color: black;
}
.restaurants__content__card__content--right .fa-regular:hover {
  opacity: 0;
}
.restaurants__content__card__content--right .fa-solid {
  opacity: 0;
  z-index: 1;
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.15)), linear-gradient(200.64deg, #9356DC -5.2%, #FF79DA 110.74%);
  -webkit-background-clip: text;
  color: transparent;
  transition: all 500ms;
}
.restaurants__content__card__content--right .fa-solid:hover {
  opacity: 1;
}

.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  animation-duration: 400ms;
  animation-delay: 1200ms;
  animation-fill-mode: forwards;
  animation-name: fadeOut;
}

.loader.hidden {
  animation: fadeOut 1s;
  animation-fill-mode: forwards;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
  animation-duration: 3s;
}

.lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.15)), linear-gradient(200.64deg, #9356DC -5.2%, #FF79DA 110.74%);
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}

.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}

@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}
.preview {
  z-index: -1;
  height: 275px;
  overflow: hidden;
  position: relative;
  margin-bottom: -30px;
}
.preview img {
  transform-origin: center;
  width: 100%;
  object-fit: cover;
  max-height: 275px;
}

.menu {
  display: flex;
  flex-direction: column;
  background-color: #f1f1f1;
  padding: 30px 20px 40px 20px;
  border-radius: 30px 30px 0px 0px;
  justify-content: center;
}
@media screen and (min-width: 767px) {
  .menu {
    max-width: 1055px;
    margin: auto;
    padding-left: 210px;
    padding-right: 210px;
  }
}
.menu__head {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}
@media screen and (min-width: 767px) {
  .menu__head {
    justify-content: center;
    gap: 25px;
  }
}
.menu__head__like {
  display: flex;
  align-items: center;
  font-size: 24px;
  margin-right: 20px;
}
.menu__head__like .fa-regular {
  position: absolute;
  opacity: 1;
  color: black;
  z-index: 0;
}
.menu__head__like .fa-regular:hover {
  opacity: 0;
}
.menu__head__like .fa-solid {
  opacity: 0;
  z-index: 1;
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.15)), linear-gradient(200.64deg, #9356DC -5.2%, #FF79DA 110.74%);
  -webkit-background-clip: text;
  color: transparent;
  transition: all 500ms;
}
.menu__head__like .fa-solid:hover {
  opacity: 1;
}
.menu .menu__list {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-bottom: 40px;
  opacity: 0;
  animation-name: appear;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  animation-duration: 500ms;
}
.menu .menu__list:nth-child(2) {
  animation-delay: 1000ms;
}
.menu .menu__list:nth-child(3) {
  animation-delay: 2000ms;
}
.menu .menu__list:nth-child(4) {
  animation-delay: 3000ms;
}
@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.menu .menu__list__card {
  background-color: #fff;
  box-shadow: 0px 4.01149px 15.0431px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  padding: 12px 15px;
  position: relative;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.menu .menu__list__card:hover::after,
.menu .menu__list__card:hover span {
  transform: translateX(-60px);
}
.menu .menu__list__card::after {
  font-family: "Font Awesome 5 Free";
  content: "\f058";
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font: var(--fa-font-solid);
  font-size: 22px;
  top: 0;
  bottom: 0;
  right: 0;
  left: 100%;
  width: 60px;
  border-radius: 0 15px 15px 0;
  background-color: #99E2D0;
  transition: all 500ms;
}
.menu .menu__list__card__title {
  margin-bottom: 5px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.menu .menu__list__card__details {
  font-size: 14px;
  font-weight: 300;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
}
.menu .menu__list__card__details p {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.menu .menu__list__card__details span {
  font-weight: 700;
  transition: all 500ms;
}
.menu button {
  padding-left: 50px;
  padding-right: 50px;
}

button {
  padding: 16px 22px;
  border-radius: 25px;
  background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
  color: white;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  position: relative;
  z-index: 1;
  margin: auto;
  border-style: none;
}
button:hover::after {
  opacity: 1;
}
button::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.15)), linear-gradient(200.64deg, #9356DC -5.2%, #FF79DA 110.74%);
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.25);
  opacity: 0;
  z-index: -1;
  transition: opacity 250ms;
  border-radius: 25px;
}

/*# sourceMappingURL=style.css.map */
