.hero {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 40px 20px;

    h1 {
        text-align: center;
    }

    p {
        text-align: center;
        line-height: 1.2;
        font-size: 18px;
        font-weight: 300;
        color: #353535;
    }
}

.functioning__bg {
    background-color: white;
}

.functioning {
    max-width: 1080px;
    padding: 20px 20px 70px 20px;

    @include desktop-only {
        display: flex;
        flex-direction: column;
        margin: auto;
    }

    h2 {
        margin: 30px 0px 25px 0px;
    }
}

.steps {
    display: flex;
    gap: 25px;
    margin-left: 12px;
    flex-direction: column;


    @include desktop-only {
        flex-direction: row;
        justify-content: center;
    }

    a {
        text-decoration: none;
        color: #000000;
        flex-grow: 1;

    }

    &__card {
        display: flex;
        align-items: center;
        background-color: #F7F7F7;
        padding: 28px 38px;
        border-radius: 20px;
        position: relative;


        span {
            color: white;
            background-color: $primary-color;
            padding: 4px 8px;
            border-radius: 15px;
            position: absolute;
            left: -12px;
            font-size: 14px;
        }

        i {
            margin-right: 20px;
            color: #7E7E7E;
            font-size: 18px;
        }

        &:hover i {
            color: $primary-color;
        }
    }
}

.restaurants {
    gap: 20px;
    padding: 20px 20px 70px 20px;
    max-width: 1080px;
    margin: auto;

    h2 {
        margin: 30px 0 30px 0;
    }

    &__content {
        display: flex;
        flex-direction: column;
        gap: 20px;

        @include desktop-only {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(490px, 1fr));
            gap: 50px 100px;
        }

        a {
            text-decoration: none;
            color: #000000;
        }


        &__card {
            background-color: #FFF;
            box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
            border-radius: 15px;
            width: auto;
            position: relative;

            img {
                width: 100%;
                height: 180px;
                border-radius: 15px 15px 0px 0px;
                object-fit: cover;
            }

            span {
                position: absolute;
                right: 20px;
                top: 15px;
                padding: 8px 10px;
                background-color: $tertiary-color;
                color: #008766;
                font-size: 14px;
                border-radius: 2px;
            }

            &__content {
                display: flex;
                padding: 5px 25px 15px 15px;

                &--left {
                    flex: 90%;

                    p {
                        font-size: 17px;
                        font-weight: 300;
                    }
                }

                &--right {
                    display: flex;
                    flex: 10%;
                    justify-content: flex-end;
                    align-items: center;
                    font-size: 24px;

                    .fa-regular {
                        position: absolute;
                        opacity: 1;
                        color: black;

                        &:hover {
                            opacity: 0;
                        }
                    }

                    .fa-solid {
                        opacity: 0;
                        z-index: 1;
                        background: linear-gradient(0deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.15)), linear-gradient(200.64deg, #9356DC -5.2%, #FF79DA 110.74%);
                        -webkit-background-clip: text;
                        color: transparent;
                        transition: all 500ms;

                        &:hover {
                            opacity: 1;
                        }
                    }
                }
            }
        }
    }
}

.loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 5;
    background-color: rgba(255, 255, 255, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    animation-duration: 400ms;
    animation-delay: 1200ms;
    animation-fill-mode: forwards;
    animation-name: fadeOut;
}

.loader.hidden {
    animation: fadeOut 1s;
    animation-fill-mode: forwards;
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        visibility: hidden;
    }
}

.lds-ellipsis {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
    animation-duration: 3s;
}

.lds-ellipsis div {
    position: absolute;
    top: 33px;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.15)), linear-gradient(200.64deg, #9356DC -5.2%, #FF79DA 110.74%);
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.lds-ellipsis div:nth-child(1) {
    left: 8px;
    animation: lds-ellipsis1 0.6s infinite;
}

.lds-ellipsis div:nth-child(2) {
    left: 8px;
    animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(3) {
    left: 32px;
    animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(4) {
    left: 56px;
    animation: lds-ellipsis3 0.6s infinite;
}

@keyframes lds-ellipsis1 {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes lds-ellipsis3 {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(0);
    }
}

@keyframes lds-ellipsis2 {
    0% {
        transform: translate(0, 0);
    }

    100% {
        transform: translate(24px, 0);
    }
}